pipeline/RESTAPI_datalake.json
{
	"name": "RESTAPI_datalake",
	"properties": {
		"activities": [
			{
				"name": "Lookuporder_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DISTINCT order_date\nFROM dbo.orders\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Azure_sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookuporder_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookuporder_date').output.value\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['name']"
											},
											"sink": {
												"name": "name"
											}
										},
										{
											"source": {
												"path": "$['description']"
											},
											"sink": {
												"name": "description"
											}
										},
										{
											"source": {
												"path": "$['docs']"
											},
											"sink": {
												"name": "docs"
											}
										},
										{
											"source": {
												"path": "$['source']"
											},
											"sink": {
												"name": "source"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "Restdatasetdynamic",
									"type": "DatasetReference",
									"parameters": {
										"fx_date": {
											"value": "@item().order_date",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "FXRates_Bronze",
									"type": "DatasetReference",
									"parameters": {
										"fx_date": {
											"value": "@item().order_date\n",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}